.Footer {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

.Footer > :not(:last-child) {
  margin-bottom: 1em;
}

@media (min-width: 420px) {
  .Footer {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .Footer > :not(:last-child) {
    margin-bottom: 0;
  }
}
